<!DOCTYPE html>
<html>
  <head>
    <title>My eCommerce Website</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <header class="header">
    <nav>
      <ul class="nav">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="#">Products</a></li>
        <li class="nav-item"><a href="#">About Us</a></li>
        <li class="nav-item"><a href="#">Contact Us</a></li>
        <li class="nav-item"><a href="#">Cart</a></li>
        <li class="nav-item">
          <a href="/user/loginForm" class="menu-cart">Login</a>
          <a href="/user/register-users" class="menu-cart">Register</a>
        </li>
      </ul>
    </nav>
  </header>
  <body></body>
</html>
