<%- include('header') %>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<body>
  <h1>Login</h1>
  <form action="/user/login-user" method="POST">
    <input
      name="username"
      id="username"
      class="form-control"
      type="text"
      placeholder="Username"
      aria-label="default input example"
    />
    <br />
    <input
      name="password"
      id="password"
      class="form-control"
      type="password"
      placeholder="Password"
      aria-label="default input example"
    />
    <br />
    <input type="submit" class="btn btn-dark" value="Login"></input>
    <br />
  </form>
</body>

<%- include('footer') %>
